$mainFont: "Poppins", sans-serif;
$mainColor: #263238;
$textColor: #8f95a5;
$fontWeight: 400;
$white: #ffffff;
$black: #000000;
$transition: all 0.3s;

$sideBarWidth: 384px;
$borderRadius: 12px;

$mobile-width: 600px;
$tablet-width: 1024px;
